pip==25.1.1
streamlit==1.38.0
pandas==2.2.2
torch==2.3.1+cpu
matplotlib==3.9.0
networkx==3.3
wordcloud==1.9.3
numpy==1.26.4
pillow==10.4.0
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.19.2
rich==14.0.0
